{% extends 'portal/base.html' %}

{% block title %}
New Story
{% endblock %}

{% block body %}
<main>

    <p dir="ltr"><span>Worried about how you feel?</span></p>
    <p dir="ltr"><span>It is very common to experience depression and you might have its symptoms. Don&rsquo;t worry you are at the right place.</span></p>
    <p dir="ltr"><span>Mine your Mind is a platform where you can take a self test and clear your doubts about what you are experiencing lately.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>Mine Your Mind</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <ol>
    <li dir="ltr">
    <p dir="ltr"><span>HOME</span></p>
    </li>
    </ol>
    <p dir="ltr"><span>Lets you know about the common know-hows.</span></p>
    <p dir="ltr"><span>Explains what&rsquo;s the &ldquo;big word&rdquo;.</span></p>
    <p dir="ltr"><span>Related myths, available treatments, do&rsquo;s and dont&rsquo;s and many more</span></p>
    <p dir="ltr"><span>// a link to home page</span></p>
    <p dir="ltr"><span> &nbsp;&nbsp;&nbsp;</span></p>
    <p dir="ltr"><span> &nbsp;&nbsp;&nbsp;&nbsp;2) &nbsp;QUIZ</span></p>
    <p dir="ltr"><span>Depression test</span></p>
    <p dir="ltr"><span>Feeling sad or miserable most of the time?</span></p>
    <p dir="ltr"><span>When you&rsquo;re going through a tough time it&rsquo;s normal to feel down for a while, emotions like sadness and grief help make us human. But if you&rsquo;re feeling sad or miserable most of the time over a long period of time, you might have depression.</span></p>
    <p dir="ltr"><span>Take this self-test to help figure out whether you&rsquo;re showing any of the warning signs of depression. This won&rsquo;t give you a diagnosis but it will help you decide the next step.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>Reference: The website is using Beck Depression Inventory as a reference for the quiz.</span></p>
    <p dir="ltr"><span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="https://en.wikipedia.org/wiki/Beck_Depression_Inventory"><span>https://en.wikipedia.org/wiki/Beck_Depression_Inventory</span></a><span>. The method is fully tested and gives good results.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>Our Invention: </span><span>(PUT SOMETHING ELSE AS HEADING)</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>ALongwith </span><span>BDI we are </span><span>customizing</span><span> the results given to you with your help. Yeah that&rsquo;s right. We use your contribution to improve the results given. This is done with decision tree analysis.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>3) ANALYSIS</span></p>
    <p dir="ltr"><span>Here we present all the collected data in a summarized and concise form with the help of bar graphs and pie charts so that you can get an idea about the current status of the people around and you are not alone.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>This is done by firing QuerySets on the database which is populated by the data contributed by you.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>4) STORIES</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>This section comprises of stories and blogs. You can share your valuable experience and help others by letting them know your story and how you overcome those challenges in your life.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>You can add your own story, view existing stories; and like and comment on other people&rsquo;s stories.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>The stories are sorted by the number of likes they have.</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr"><span>We have used sentiment analysis to classify stories as positive(green), negative(red) or neutral(white).</span></p>
    <p><span><span>&nbsp;</span></span></p>
    <p dir="ltr">&nbsp;</p>
    <p><span>&nbsp;</span></p>
<main>
<script>
  var idx="about";
  </script>
 {% endblock %}