{% extends 'portal/base.html' %}
{% block body %}
<main>
    <p><a href="{% url 'analysis2' %}">Analysis of male and females who are having depression.</a></p>
    <p> <a href="{% url 'analysis3' %}">Analysis of different age groups.</a></p>
    <p> <a href="{% url 'analysis4' %}">Analysis of Students suffering from depression.</a></p>
    <p> <a href="{% url 'analysis5' %}">Analysis of male and females as per their relationship status.</a></p>
    <p> <a href="{% url 'analysis6' %}">Analysis of people according to their occupation.</a></p>

</main>

{% endblock %}
