<!DOCTYPE HTML>
{%  load staticfiles  %}
<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"/>

  <!-- Compiled and minified JavaScript -->


  <link rel="stylesheet" type="text/css" href="{% static 'portal/newstyle.css' %}"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

</head>
<body>
  {% block header %}
  {% endblock %}


  <ul id="slide-out" class="side-nav fixed">
    <li><h3 class="brand-logo center">DEPRESSION HELP</h3></li>
    <li class="menu active" id="home"><a href="/">HOME</a></li>
    <li class="menu" id="quiz1"><a href="/quiz1">QUIZ</a></li>
    <li class="menu" id="analysis"><a href="/analysis">ANALYSIS</a></li>
    <li class="menu" id="stories"><a href="/stories">FORUM</a></li>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

{% block body %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>
// var $=jQuery;
$(document).ready(function() {
  idx = window.location.href.split('/')[window.location.href.split('/').length - 2];
  if(window.location.href.split('/')[2]==idx){
    return 0;
  }
  $(".menu").removeClass("active");
  $("#"+idx).addClass("active");

  $('select').material_select();


});


</script>


</body>
</html>
