<!DOCTYPE HTML>
{%  load staticfiles  %}
<html>
<head>

  <title>Mine Your Mind</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <!--<meta http-equiv="content-type" content="text/html; charset=windows-1252" />-->
    
 <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>
</head>

<body>

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Mine <span class="logo_colour">Your Mind</span></a></h1>
          <h2>Depressometer</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">HOME</a></li>
          <li><a href="/quiz1">QUIZ</a></li>
          <li><a href="/analysis">ANALYSIS</a></li>
          <li><a href="/stories">FORUM</a></li>

        </ul>
      </div>
    </div>

{% block body %}
{% endblock %}
</body>
</html>
