{% extends 'portal/base.html' %}
{% block header %}
<header>
      <nav class="top-nav">
        <div class="container">
          <a class="brand-logo"><h2 class="header valign-wrapper">QUIZ</h2></a>
        </div>
      </nav>
</header>
{% endblock %}
{% block body %}
<main>
  <div class="container">
<h4 class="center-align">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>

{% for field in form %}

{{ field.error }}

{% endfor %}
<form  action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">"first step"</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">"second step"</button>
{% endif %}
<button type="submit" class="save btn btn-default">Submit</button>
</form>
</div>
</main>

{% endblock %}
